.screen{
    position: relative;
    display: block;
    width: 100%;
    height: 50%;
    padding-top: 10%;
}

.canvas-wrapper{
    position: relative;
    display: block;
    width: 65%;
    height: 55%;
    margin: auto;
}

canvas {
    position: relative;
    height: 100%;
    width: 100%;
}