.videoPlayer{
    background-color: gray;
    position: relative;
    height: 60%;
    width: 60%;
    margin: auto;
    margin-top: 0%;
}

canvas {
    position: relative;
    height: 100%;
    width: 100%;
}